<div class="modal fade" id="patient-disease-modal-main" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style='display:none'>
</div>

<div class="modal fade" id="patient-disease-modal-associated" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style='display:none'>
</div>

<div class="modal fade" id="patient-disease-modal-associated-update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style='display:none'>
</div>

<div class="modal fade" id="patient-disease-modal-main-update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style='display:none'>
</div>
